$primaryColor: #ffff; 
// $secondaryColor: #5ebec4;
$secondaryColor: #307E82;
$accentColor: #f92c85;
$whiteColor: #fff;
$font: black;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;